* {
    margin: 0px;
    box-sizing: border-box;
    /* margin: auto; */
    /* background-color: #3a4141; */

}
*::-webkit-scrollbar{
    display: none;

}

body {
    /* background-color: rgb(91, 91, 91); */
    height: 100%;
    overflow: scroll;
    margin: auto;
    /* position: fixed; */
    /* position: fixed; */
}

/* Upper Main NAVIGATION Conatiner begins */
#navigation_maincontainer {
    /* background-color: rgb(57 57 57); */
    background-color: #3a4141;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    /* position: sticky; */
    top: 0;
    margin: auto;
    width: 100%;
    min-width: 20%;
    height: 5.8em;
    height: 0em;
    border-bottom: 1px solid black;
    z-index: 10;
    box-shadow: 0px 0px 5.8em 8.8em rgb(0, 0, 0);
    
}

#a_logo_statement_container
{
    text-decoration: none;
}
#logo_statement_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
}


#logo_statement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: ease-in-out 1.2s;
}

#logo_statement:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: scale(1.1);
    transition: ease-in-out 1.2s;

}

#logo_statement_upper {
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    transition: ease-in-out 1.2s;

}

#logo_statement_upper_strong_1 {
    font-size: 22px;
}

#logo_statement_upper_span_1 {
    font-size: 22px;
}

#logo_statement_lower {
    display: block;
    margin: 5px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: ease-in-out 1.2s;
}

.code_font {
    font-size: 12px;
}

nav {
    display: flex;
    justify-content: end;
    flex-direction: column;
    max-width: 100em;
    min-width: 40em;
}

.nav_text_colour {
    background-color: #133434;
    /* border: 1px solid #4e4f59; */
    color: #d2bfbf;
    /* font: 500; */
}

#navcontainer {
    display: flex;
    justify-content: center;
    max-width: 46em;
    min-width: 19em;
    height: 5.81em;
}



#menudiv {
    /* width: 50em; */
}

#navul {
    display: flex;
    margin: -1em;
    padding-top: 8.5em;
    padding-left: 0px;
    justify-content: space-around;
}

#menudiv li {
    /* background-color: #3a4141; */
    background-color: #000;
    /* border: 2px solid #4e4f59; */
    color: #d2bfbf;
    display: inline-block;
    margin: 5px;
    border-radius: 2px;
    font-size: 18px;
    transition: ease-in-out 0.5s;
    justify-content: center;

}

#menudiv ul .nav_text_colour:hover {
    color: rgb(62, 161, 243);
    border-color: red;
    border-radius: 1px;
    transition: ease-in-out 0.4s;
    transform: scale(1.1);
}

#organisation_nav_li_in
{
    display: none;
    justify-content: center;
    padding: 2em;
    padding-inline: 2em;
    top: 3.4em;
    left: 30em;
    border-radius: 5%;
    width: 20em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: ease-in-out 0.2s;
}


#organisation_li_div:hover #organisation_nav_li_in
{
    display: block;
    background-color: #ffffff;
    position: absolute;
    transform: scale(1);
    transition: ease-in-out 0.2s;
}

#organisation_nav_li_in_ul
{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    position: relative;
}

.organisation_nav_li_in_ul_style
{
    text-align: start;
    background-color: white;
    color: black;
    width: 13.65em;

}
.organisation_nav_li_in_ul_style:hover
{
    border: 1px solid rgb(5, 112, 199);
    color: rgb(5, 112, 199);
    transform: scale(1.01);
}

.organisation_nav_li_in_ul_element_icon
{
    right: -6em;
    position: relative;
    top: 0.3em;
    align-content: end;
    transform: scale(0.5);
}
#logoimgdiv {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 160px;
}

#logoimg {
    display: inline-block;
    width: 100px;
    transition: ease-in-out 1.2s;

}

#logoimg:hover {
    /* opacity: 0.6; */
    filter: grayscale(0.51);
    transform: scale(1.2);
    transition: ease-in-out 0.6s;
}


#navcontainer #menudiv #navul {
    user-select: all;
}

/* Upper Main NAVIGATION Conatiner ENDS here. */

#marquee_imp{
    position: relative;
    top: 5.81em;  
    background-color: blanchedalmond;
    z-index: 9;
    position: fixed;
    width: 100vw;
}




#extra_above_main_container
{
    top: 6.81em;
    margin: auto;
    /* width: 100%; */
    background-color: aquamarine;
    position: absolute;
    z-index: 7;
}
#extra_above_container
{
    top: 6.99em;
    position: fixed;
    background-color: #3a4141;
    background-color: red;
    margin: auto;

}
#extra_video
{
    width: 10em;
    position: relative;
    margin: auto;
    border:5px solid #d2bfbf;
    z-index: 6;

}

/*SIDEBAR navigation and Main Content Conatiner BEGINS here.  */
#navigation_and_content_parent
{
    top: 46.99em;
    margin: auto;
    max-width: 90em;
    min-width: 60em;
    /* background-color: #828cfa; */
    height: 100vh;
    position: relative;
    z-index: 8;
}

/* SIDEBAR navigation Conatiner BEGINS here. */

#sidebar_background {
    width: 16em;
    max-width: 20em;
    display: flex;
    /* margin-top: 5.81em; */
    position: relative;
    height: 45.94em;
    /* background-color: #3a4141; */
    overflow: auto;
    border: 2px solid tomato;

}

#sidebar_container {
    border: 0.01px solid blue;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    position: relative;
    overflow: auto;
    width: 16em;
    max-width: 20em;
    height: max-content;
}

#sidebar_container li {
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 1%;
    margin-bottom: 1%;
    list-style: none;
    margin-left: -18.5%;
    text-decoration: none;
    /* background-color: #3a4141; */
    color: #d2bfbf;

}

#sidebar_container a {
    text-decoration: none;
    color: #d2bfbf;
}

#range_in{
    width: 18em;
}

.category_in
{
    /* display: block; */
}

#models_search_div
{
    display: block;
    /* background-color: pink; */
    height: 1.5em;
}

#models_search
{
    /* height: 2em; */
    width: 15em;
    position: relative;
    top: -10px;
}
#models_search_btn{
    transform: scale(0.61);
    position: relative;
    top: -4px;
}


#sidebar_container::-webkit-scrollbar {
    display: none;
}


.submenu {
    display: none;
    width: 140px;
    transition: ease-in-out 0.5s;
    text-align: center;
    color: rgb(221, 5, 5);
    text-decoration:line-through;
}

.submenu li{
    background-color:orange;
}

#sidebar_container li:hover .submenu {
    display: block;
    position: relative;
    left: 0px;
    width: 232px;
    transition: ease-in-out 0.5s;
}

/* Sidebar navigation Conatiner ENDS here. */


/* Main CONTENT Conatiner BEGINS here. */

/* Main CONTENT Conatiner ENDS here. */

/*SIDEBAR navigation and Main Content Conatiner ENDS here.  */







/* Main FOOTER Conatiner BEGINS here. */

#main_footer_conatiner {
    display: block;
    background-color: #000000;
    width: 100%;
    height: 80px;
    position: absolute;
    justify-content: center;
    /* top: 20em; */
    bottom: -53em;
    left: 0em;
    right: 0;
    z-index: 8;

}
#main_footer_conatiner::-webkit-scrollbar {
    display: none;
}

#main_footer_conatiner1 {
    /* background-color: chartreuse; */
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-flow: row;
    justify-content: space-evenly;
    position: static;

}
#main_footer_conatiner1::-webkit-scrollbar {
    display: none;
}

#info {
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

#info_div {
    background-color: #4e4f59;
    color: #d2bfbf;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#info_div a {
    text-decoration: none;
    color: inherit;
}


#media {
    background-color: #4e4f59;
    color: #d2bfbf;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#media_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: red; */

}

#media_div div {
    /* padding-inline: 2em; */
}

.footer_logo_image_div {
    /* position:; */
}

.footer_logo_image {
    width: 4.8em;
    height: 3.6em;
    object-fit: cover;
}

.footer_logo_image:hover {
    /* width: 5.2em;
    height: 3.9em;
    object-fit: cover; */
    transform: scale(1.2);
}

#instagram_logo {
    mix-blend-mode: color;
}



#third {
    background-color: #828cfa;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

#third_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/* Main FOOTER Conatiner ENDS here. */



/*
.nav_menu_icon_list{
    display: inline-block;
}

.nav_menu_icon_list{
    width: max-content;
}
*/

























